/* styles.css */

/* Background styling for the login page */
.root {
    -fx-background-color: #395A7F;
    -fx-font-family: 'Poppins';
}

/* Login form styles */
.h-label {
    -fx-font-size: 34px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.anchor-pane .description-label {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

/* Text fields */
.text-field-custom, .password-field-custom {
    -fx-pref-height: 30px;
    -fx-pref-width: 200px;
    -fx-padding: 0 5px;
    -fx-background-color: #ffffff;
    -fx-border-color: #A3CAE9;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.drop-down-custom {
    -fx-pref-height: 30px;
    -fx-pref-width: 200px;
    -fx-padding: 0 5px;
    -fx-background-color: #ffffff;
    -fx-border-color: #A3CAE9;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.button-back {
    -fx-background-color: transparent;
    -fx-text-fill: #385A7F;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border: none;
    -fx-cursor: hand;
}
.button-back-white {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border: none;
    -fx-cursor: hand;
}
/* Login button */
.button-main {
    -fx-background-color: #A3CAE9;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Forget password button */
.button-secondary {
    -fx-background-color: transparent;
    -fx-text-fill: #A3CAE9;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border: none;
    -fx-cursor: hand;
}

/* Login button hover effect */
.button-main:hover {
    -fx-background-color: #7EAFD8; /* Slightly darker shade */
    -fx-cursor: hand;
}

/* Forget password button hover effect */
.button-secondary:hover {
    -fx-text-fill: #7EAFD8;
    -fx-cursor: hand;
}

/* Login button click effect */
.button-main:pressed {
    -fx-background-color: #567D9D; /* Even darker shade */
    -fx-padding: 2 5 0 5; /* Add slight padding to simulate a pressed look */
}

/* Forget password button click effect */
.button-secondary:pressed {
    -fx-text-fill: #567D9D;

}

/* Show/Hide password button hover effect */
#togglePasswordButton:hover {
    -fx-background-color: #D9EAF7; /* Light blue background */
    -fx-background-radius: 50%; /* Circular effect if button is square */
    -fx-cursor: hand;
}

/* Show/Hide password button click effect */
#togglePasswordButton:pressed {
    -fx-background-color: #B0D4E7; /* Slightly darker blue background */
    -fx-padding: 2 0 0 0; /* Simulates press */
}
